@font-face {
    font-family: "vazir";  
    src: local("Vazir"),
      url("../../../fonts/Vazir.ttf") format("truetype");
  }
  @font-face {
    font-family: "bZiba";  
    src: local("pixelboy-BZiba"),
      url("../../../fonts/pixelboy-BZiba.ttf") format("truetype");
  }

*{
    margin: 0;
    padding: 0;
}

.CountsCart-container{

}
.icon--count{
    display: flex;
   align-items: center;
justify-content: start;
}
.CountsCart-icon{
    padding: 1% 3%;
    font-size: 2.5rem;
    color: #ffc451;
}

.CountsCart-count{
   font-size: 2.5rem;
   font-family:"bZiba";
   font-weight: 600;
}

.CountsCart-text{
  
    font-family: "vazir";
    font-size:0.9rem;
    color: #7c7b7b;
   text-align: justify;
}

